@import "./mixin";

.card{
    transition: all .5s ease-in-out;
    transform: scale(0.9);
    .body{
        background-color: black;
        border:none;
        box-shadow: $shadow;
        border-radius: $radius;
        @include Flex();
        button{
            border-radius: $radius;
            box-shadow: $shadow;
            color: white;
        }
        .icon{
            color: black;
            font-size: 8rem;
            filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
        }
    }
    &:hover{
        transform: scale(0.95);
    }
}
