@import "./mixin";

.register{
    
    .form{
        box-shadow: $shadow;
        background-color: black;
        border-radius: 10px;
        h3{
            color: white;
            text-align: center;
            border-bottom: 2px solid rgb(224, 224, 224);       
        }
        a{
            color: white;
            text-decoration: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        @include Flex($justify:space-between,$dir:row);

        div{
            transition: .5s ease-in-out;
            box-shadow: $shadow;
            border-radius: $radius;
            margin:1rem 0rem;
            .icon{
                color: white;
                font-size: 2rem;
            }
            .field{
                color: white;
                border: none;
                outline: none;
                background-color: transparent;
                resize: none;
                &::placeholder{
                    color:white;
                }
            }
            
            &:hover{
                @include hoverUp(-5px);
            }
        }
        .Register{
            color:rgb(224, 224, 224);
            font-weight: $font-heading;
            // letter-spacing: .1rem;
            // text-transform: capitalize;
            font-size: 1.2rem;
            transition: .5s ease-in-out;
            box-shadow: $shadow;
            &:hover{
                color:$black;
                background-color: rgb(190, 190, 190);
                transform: scale(1.01);
            }
        } 

    }
}
